In [18]:
import pandas as pd
import numpy as np

In [12]:
AI = pd.read_csv('AI_Resume_Screening.csv')

In [20]:
AI = AI.replace(np.nan, 'None')
AIrD = pd.DataFrame(AI)

# dont need resume id or name
AIrD = AIrD.drop(labels=['Resume_ID', 'Name'], axis=1)

# ----- education
AIrD['Education'] = AIrD['Education'].astype(str).str.strip().str.lower()

education_mapping = {
    'b.sc': 1,
    'b.tech': 2,
    'btech': 2,        # just in case
    'mba': 3,
    'm.tech': 4,
    'phd': 5
}

AIrD['Education'] = AIrD['Education'].map(education_mapping)

AIrD = AIrD.dropna(subset=['Education'])

# ----- recruiter decision: 1 hired 0 rejected
AIrD['Recruiter Decision'] = AIrD['Recruiter Decision'].astype(str).str.strip().str.lower()

AIrD['Recruiter Decision'] = AIrD['Recruiter Decision'].map({
    'hire': 1,
    'reject': 0
})

AIrD = AIrD.dropna(subset=['Recruiter Decision'])

AIrD = AIrD.reset_index(drop=True)

AIrD

,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,"TensorFlow, NLP, Pytorch",10,1,None,AI Researcher,1,104895,8,100
1,"Deep Learning, Machine Learning, Python, SQL",10,3,Google ML,Data Scientist,1,113002,1,100
2,"Ethical Hacking, Cybersecurity, Linux",1,3,Deep Learning Specialization,Cybersecurity Analyst,1,71766,7,70
3,"Python, Pytorch, TensorFlow",7,2,AWS Certified,AI Researcher,1,46848,0,95
4,"SQL, React, Java",4,5,None,Software Engineer,1,87441,9,100
...,...,...,...,...,...,...,...,...,...
995,"Cybersecurity, Linux, Ethical Hacking",0,1,None,Cybersecurity Analyst,0,114364,9,60
996,"Deep Learning, Machine Learning",0,3,Deep Learning Specialization,Data Scientist,0,103294,5,45
997,"TensorFlow, NLP",0,2,Google ML,AI Researcher,1,113855,9,65
998,"Linux, Networking, Cybersecurity, Ethical Hacking",8,5,AWS Certified,Cybersecurity Analyst,1,83146,10,100
999,"SQL, Machine Learning, Python, Deep Learning",7,4,Deep Learning Specialization,Data Scientist,1,119474,3,100

In [ ]:
AIrD.to_csv('cleaned_AI_resume_data.csv', index=False)